
.login input[type="text"], .login input[type="password"] {
    border: 4px solid #ffffff;
    font-family: 'Open Sans', sans-serif;
    color:  #596984;
    background-color:  #c8cbe7;
    font-size: 32px;
    font-weight: 300;
}

.logo{
    display: flex;
    justify-content: center;
    line-height: 10px;
}

button {
    font-size: 32px;
    background-color: #ffffff;
    color:  #1a1d3d;
    border: 1px solid #ffffff;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #F5F5F5;
    background-color:  #1a1d3d;
    font-size: 64px;
    text-align: center;
}


